### PUNTO 1 :ANÁLISIS

Importamos las librerias necesarias, en este caso trabajaremos con ``Dask`` pues nos permite trabajar con grandes volumenes de datos y además facilita el escalado de librerias como Pandas, Numpy y Scikit-learn.

In [11]:
#Importamos la librería
import dask.dataframe as dd

In [12]:
#Cargamos el dataset
df= dd.read_csv('../data/air_traffic_data.csv')

In [13]:
#Consultamos los registros del dataset
df.compute()

,Activity Period,Operating Airline,Operating Airline IATA Code,Published Airline,Published Airline IATA Code,GEO Summary,GEO Region,Activity Type Code,Price Category Code,Terminal,Boarding Area,Passenger Count,Adjusted Activity Type Code,Adjusted Passenger Count,Year,Month
0,200507,ATA Airlines,TZ,ATA Airlines,TZ,Domestic,US,Deplaned,Low Fare,Terminal 1,B,27271,Deplaned,27271,2005,July
1,200507,ATA Airlines,TZ,ATA Airlines,TZ,Domestic,US,Enplaned,Low Fare,Terminal 1,B,29131,Enplaned,29131,2005,July
2,200507,ATA Airlines,TZ,ATA Airlines,TZ,Domestic,US,Thru / Transit,Low Fare,Terminal 1,B,5415,Thru / Transit * 2,10830,2005,July
3,200507,Air Canada,AC,Air Canada,AC,International,Canada,Deplaned,Other,Terminal 1,B,35156,Deplaned,35156,2005,July
4,200507,Air Canada,AC,Air Canada,AC,International,Canada,Enplaned,Other,Terminal 1,B,34090,Enplaned,34090,2005,July
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15002,201603,Virgin America,VX,Virgin America,VX,Domestic,US,Enplaned,Low Fare,Terminal 2,D,194636,Enplaned,194636,2016,March
15003,201603,Virgin America,VX,Virgin America,VX,International,Mexico,Deplaned,Low Fare,International,A,4189,Deplaned,4189,2016,March
15004,201603,Virgin America,VX,Virgin America,VX,International,Mexico,Enplaned,Low Fare,Terminal 2,D,4693,Enplaned,4693,2016,March
15005,201603,Virgin Atlantic,VS,Virgin Atlantic,VS,International,Europe,Deplaned,Other,International,A,12313,Deplaned,12313,2016,March
15006,201603,Virgin Atlantic,VS,Virgin Atlantic,VS,International,Europe,Enplaned,Other,International,A,10898,Enplaned,10898,2016,March

In [14]:
#Miramos los tipos de datos de las columnas
df.dtypes

Activity Period                 int64
Operating Airline              object
Operating Airline IATA Code    object
Published Airline              object
Published Airline IATA Code    object
GEO Summary                    object
GEO Region                     object
Activity Type Code             object
Price Category Code            object
Terminal                       object
Boarding Area                  object
Passenger Count                 int64
Adjusted Activity Type Code    object
Adjusted Passenger Count        int64
Year                            int64
Month                          object
dtype: object

In [15]:
#Vemos si hay valores nulos en el dataset
df.isnull().sum().compute()

Activity Period                 0
Operating Airline               0
Operating Airline IATA Code    54
Published Airline               0
Published Airline IATA Code    54
GEO Summary                     0
GEO Region                      0
Activity Type Code              0
Price Category Code             0
Terminal                        0
Boarding Area                   0
Passenger Count                 0
Adjusted Activity Type Code     0
Adjusted Passenger Count        0
Year                            0
Month                           0
dtype: int64

In [16]:
#Eliminamos los valores nulos
df = df.dropna()
#Comprobamos que se han eliminado los valores nulos
df.isnull().sum().compute()

Activity Period                0
Operating Airline              0
Operating Airline IATA Code    0
Published Airline              0
Published Airline IATA Code    0
GEO Summary                    0
GEO Region                     0
Activity Type Code             0
Price Category Code            0
Terminal                       0
Boarding Area                  0
Passenger Count                0
Adjusted Activity Type Code    0
Adjusted Passenger Count       0
Year                           0
Month                          0
dtype: int64

In [17]:
#Echamos un vistazo a los datos
df.describe().compute()

,Activity Period,Passenger Count,Adjusted Passenger Count,Year
count,14953.000000,14953.000000,14953.000000,14953.000000
mean,201044.583963,29345.619006,29437.338862,2010.380325
std,313.675658,58398.448380,58362.879319,3.140994
min,200507.000000,1.000000,1.000000,2005.000000
25%,200803.000000,5409.000000,5523.000000,2008.000000
50%,201011.000000,9260.000000,9418.000000,2010.000000
75%,201308.000000,21222.000000,21267.000000,2013.000000
max,201603.000000,659837.000000,659837.000000,2016.000000

En la lista ``columnas_innecesarias`` definimos las columnas a eliminar del dataset por ser meramente informativas.

In [18]:
#Definimos las columnas innecesarias a eliminar
columnas_innecesarias= ['Operating Airline IATA Code', 'Published Airline IATA Code', 'GEO Summary', 'Adjusted Activity Type Code','Adjusted Passenger Count',
                         'Published Airline','Boarding Area','Activity Type Code']
# Eliminar las columnas innecesarias
df_1 = df.drop(columns=columnas_innecesarias)
df_1.compute()

,Activity Period,Operating Airline,GEO Region,Price Category Code,Terminal,Passenger Count,Year,Month
0,200507,ATA Airlines,US,Low Fare,Terminal 1,27271,2005,July
1,200507,ATA Airlines,US,Low Fare,Terminal 1,29131,2005,July
2,200507,ATA Airlines,US,Low Fare,Terminal 1,5415,2005,July
3,200507,Air Canada,Canada,Other,Terminal 1,35156,2005,July
4,200507,Air Canada,Canada,Other,Terminal 1,34090,2005,July
...,...,...,...,...,...,...,...,...
15002,201603,Virgin America,US,Low Fare,Terminal 2,194636,2016,March
15003,201603,Virgin America,Mexico,Low Fare,International,4189,2016,March
15004,201603,Virgin America,Mexico,Low Fare,Terminal 2,4693,2016,March
15005,201603,Virgin Atlantic,Europe,Other,International,12313,2016,March
15006,201603,Virgin Atlantic,Europe,Other,International,10898,2016,March

In [21]:
#Tipología de las variables existemtes en nuestro dataset
df_1.dtypes.value_counts()

object    5
int64     3
dtype: int64

### PUNTO 2: RESOLVEMOS LAS PREGUNTAS

In [22]:
#Vemos cuantas compañías diferentes hay en el dataset
compania_unicas= df_1['Operating Airline'].unique().compute()
print('El número de compañías diferentes es: ', len(compania_unicas))

El número de compañías diferentes es:  73

In [23]:
#Para ver cuales son usamos el siguiente código
for i in range (len(compania_unicas)):
    print(compania_unicas[i])

ATA Airlines
Air Canada
Air China
Air France
Air New Zealand
AirTran Airways
Alaska Airlines
All Nippon Airways
American Airlines
American Eagle Airlines
Asiana Airlines
Atlantic Southeast Airlines
BelAir Airlines
British Airways
Cathay Pacific
China Airlines
Delta Air Lines
EVA Airways
Frontier Airlines
Hawaiian Airlines
Horizon Air
Icelandair
Independence Air
Japan Airlines
KLM Royal Dutch Airlines
Korean Air Lines
Lufthansa German Airlines
Mesa Airlines
Mexicana Airlines
Midwest Airlines
Northwest Airlines
Philippine Airlines
Singapore Airlines
SkyWest Airlines
Sun Country Airlines
TACA
US Airways
United Airlines
United Airlines - Pre 07/01/2013
Virgin Atlantic
WestJet Airlines
Miami Air International
Air Canada Jazz
Qantas Airways
Ameriflight
Spirit Airlines
Xtra Airways
Evergreen International Airlines
Aeromexico
JetBlue Airways
ExpressJet Airlines
Southwest Airlines
Virgin America
Aer Lingus
Allegiant Air
Jet Airways
Emirates
Mesaba Airlines
World Airways
Air Berlin
Republic Airlines
Swiss International
LAN Peru
XL Airways France
China Eastern
SAS Airlines
Atlas Air, Inc
Compass Airlines
Etihad Airways
China Southern
Turkish Airlines
COPA Airlines, Inc.
Air India Limited

In [24]:
#Observamos cúantos pasajeros tienen de media los vuelos de cada compañía
media_pasajeros= df_1.groupby('Operating Airline')['Passenger Count'].mean().compute()
print('La media de pasajeros por compañía es: ', media_pasajeros)

La media de pasajeros por compañía es:  Operating Airline
ATA Airlines          8744.636364
Aer Lingus            4407.183673
Aeromexico            5463.822222
Air Berlin            2320.750000
Air Canada           18251.560109
                         ...
Virgin Atlantic       9847.104651
WestJet Airlines      5338.155340
World Airways          261.666667
XL Airways France     2223.161290
Xtra Airways            73.000000
Name: Passenger Count, Length: 73, dtype: float64

In [26]:
#Eliminamos los registros duplicados por el campo 'GEO Region' y mantenemos aquellos con mayor número de pasajeros
df_sin_duplicados = df_1.groupby('GEO Region').apply(lambda x: x.loc[x['Passenger Count'].idxmax()])

# Mostrar el nuevo DataFrame resultante
df_sin_duplicados.compute()

/var/folders/06/2bgv2jcx533g70nn8y0_0z4r0000gn/T/ipykernel_41296/3940489678.py:2: UserWarning: `meta` is not specified, inferred from partial data. Please provide `meta` if the result is unexpected.
  Before: .apply(func)
  After:  .apply(func, meta={'x': 'f8', 'y': 'f8'}) for dataframe result
  or:     .apply(func, meta=('x', 'f8'))            for series result
  df_sin_duplicados = df_1.groupby('GEO Region').apply(lambda x: x.loc[x['Passenger Count'].idxmax()])

,Activity Period,Operating Airline,GEO Region,Price Category Code,Terminal,Passenger Count,Year,Month
GEO Region,,,,,,,,
Asia,200708,United Airlines - Pre 07/01/2013,Asia,Other,International,86398,2007,August
Australia / Oceania,201501,Air New Zealand,Australia / Oceania,Other,International,12973,2015,January
Canada,200708,Air Canada,Canada,Other,Terminal 3,39798,2007,August
Central America,201410,TACA,Central America,Other,International,8970,2014,October
Europe,201507,United Airlines,Europe,Other,International,48136,2015,July
Mexico,201407,United Airlines,Mexico,Other,International,29206,2014,July
Middle East,201507,Emirates,Middle East,Other,International,14769,2015,July
South America,201101,LAN Peru,South America,Other,International,3685,2011,January
US,201308,United Airlines,US,Other,Terminal 3,659837,2013,August

In [27]:
#Volcaremos los datos anteriores a un CSV es decir sin duplicados y una columna donde pondremos la media de pasajeros por compañía
resultados_combinados=dd.merge(df_sin_duplicados, media_pasajeros, on='Operating Airline')
#Lo guardamos en un CSV
resultados_combinados.to_csv('../data/resultados_combinados.csv', single_file = True)

['/Users/hectorbernaltrujillo/Documents/informática/Programación python/ff/Ejemplo-Paso-a-Paso/BD_proyecto_final/notebook/../data/resultados_combinados.csv']