### PASO 1: ANÁLISIS

In [75]:
#Importamos las librerias necesarias, en este caso vamos a trabajar con dask nos facilita el escalado de bibliotecas como numpy, pandas y scikit-learn.
import dask.dataframe as dd

In [76]:
# Cargamos el dataset
df= dd.read_csv('../data/air_traffic_data.csv')

In [77]:
#Consultamos los registros del dataset
df.compute()

,Activity Period,Operating Airline,Operating Airline IATA Code,Published Airline,Published Airline IATA Code,GEO Summary,GEO Region,Activity Type Code,Price Category Code,Terminal,Boarding Area,Passenger Count,Adjusted Activity Type Code,Adjusted Passenger Count,Year,Month
0,200507,ATA Airlines,TZ,ATA Airlines,TZ,Domestic,US,Deplaned,Low Fare,Terminal 1,B,27271,Deplaned,27271,2005,July
1,200507,ATA Airlines,TZ,ATA Airlines,TZ,Domestic,US,Enplaned,Low Fare,Terminal 1,B,29131,Enplaned,29131,2005,July
2,200507,ATA Airlines,TZ,ATA Airlines,TZ,Domestic,US,Thru / Transit,Low Fare,Terminal 1,B,5415,Thru / Transit * 2,10830,2005,July
3,200507,Air Canada,AC,Air Canada,AC,International,Canada,Deplaned,Other,Terminal 1,B,35156,Deplaned,35156,2005,July
4,200507,Air Canada,AC,Air Canada,AC,International,Canada,Enplaned,Other,Terminal 1,B,34090,Enplaned,34090,2005,July
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15002,201603,Virgin America,VX,Virgin America,VX,Domestic,US,Enplaned,Low Fare,Terminal 2,D,194636,Enplaned,194636,2016,March
15003,201603,Virgin America,VX,Virgin America,VX,International,Mexico,Deplaned,Low Fare,International,A,4189,Deplaned,4189,2016,March
15004,201603,Virgin America,VX,Virgin America,VX,International,Mexico,Enplaned,Low Fare,Terminal 2,D,4693,Enplaned,4693,2016,March
15005,201603,Virgin Atlantic,VS,Virgin Atlantic,VS,International,Europe,Deplaned,Other,International,A,12313,Deplaned,12313,2016,March
15006,201603,Virgin Atlantic,VS,Virgin Atlantic,VS,International,Europe,Enplaned,Other,International,A,10898,Enplaned,10898,2016,March

In [78]:
#Miramos los tipos de datos de las columnas
df.dtypes

Activity Period                 int64
Operating Airline              object
Operating Airline IATA Code    object
Published Airline              object
Published Airline IATA Code    object
GEO Summary                    object
GEO Region                     object
Activity Type Code             object
Price Category Code            object
Terminal                       object
Boarding Area                  object
Passenger Count                 int64
Adjusted Activity Type Code    object
Adjusted Passenger Count        int64
Year                            int64
Month                          object
dtype: object

In [79]:
#Vamos a ver si hay valores nulos en el dataset
df.isnull().sum().compute()

Activity Period                 0
Operating Airline               0
Operating Airline IATA Code    54
Published Airline               0
Published Airline IATA Code    54
GEO Summary                     0
GEO Region                      0
Activity Type Code              0
Price Category Code             0
Terminal                        0
Boarding Area                   0
Passenger Count                 0
Adjusted Activity Type Code     0
Adjusted Passenger Count        0
Year                            0
Month                           0
dtype: int64

In [80]:
#Eliminamos los valores nulos
df = df.dropna()
#Comprobamos que se han eliminado los valores nulos
df.isnull().sum().compute()

Activity Period                0
Operating Airline              0
Operating Airline IATA Code    0
Published Airline              0
Published Airline IATA Code    0
GEO Summary                    0
GEO Region                     0
Activity Type Code             0
Price Category Code            0
Terminal                       0
Boarding Area                  0
Passenger Count                0
Adjusted Activity Type Code    0
Adjusted Passenger Count       0
Year                           0
Month                          0
dtype: int64

In [81]:
#Echamos un vistazo a los datos
df.describe().compute()

,Activity Period,Passenger Count,Adjusted Passenger Count,Year
count,14953.000000,14953.000000,14953.000000,14953.000000
mean,201044.583963,29345.619006,29437.338862,2010.380325
std,313.675658,58398.448380,58362.879319,3.140994
min,200507.000000,1.000000,1.000000,2005.000000
25%,200803.000000,5409.000000,5523.000000,2008.000000
50%,201011.000000,9260.000000,9418.000000,2010.000000
75%,201308.000000,21222.000000,21267.000000,2013.000000
max,201603.000000,659837.000000,659837.000000,2016.000000

En la lista ``columnas_innecesarias`` definimos las columnas a eliminar del dataset por ser meramente informativas.

In [82]:
# Definimos las columnas innecesarias a eliminar
columnas_innecesarias = ['Operating Airline IATA Code', 'Published Airline IATA Code', 'GEO Summary', 'Adjusted Activity Type Code','Adjusted Passenger Count',
                         'Published Airline','Boarding Area','Activity Type Code']

# Eliminar las columnas innecesarias
df_1 = df.drop(columns=columnas_innecesarias)
df_1.compute()

,Activity Period,Operating Airline,GEO Region,Price Category Code,Terminal,Passenger Count,Year,Month
0,200507,ATA Airlines,US,Low Fare,Terminal 1,27271,2005,July
1,200507,ATA Airlines,US,Low Fare,Terminal 1,29131,2005,July
2,200507,ATA Airlines,US,Low Fare,Terminal 1,5415,2005,July
3,200507,Air Canada,Canada,Other,Terminal 1,35156,2005,July
4,200507,Air Canada,Canada,Other,Terminal 1,34090,2005,July
...,...,...,...,...,...,...,...,...
15002,201603,Virgin America,US,Low Fare,Terminal 2,194636,2016,March
15003,201603,Virgin America,Mexico,Low Fare,International,4189,2016,March
15004,201603,Virgin America,Mexico,Low Fare,Terminal 2,4693,2016,March
15005,201603,Virgin Atlantic,Europe,Other,International,12313,2016,March
15006,201603,Virgin Atlantic,Europe,Other,International,10898,2016,March

In [84]:
#Tipología de las variables existentes en el nuevo dataset
df_1.dtypes.value_counts()

object    5
int64     3
dtype: int64

### RESOLVEMOS PREGUNTAS DEL TRABAJO

In [85]:
#Vemos cuantas compañias diferentes aparecen en el dataset
companias_unicas=df_1['Operating Airline'].unique().compute()
print('El número de compasias diferentes son: ',len(companias_unicas))

El número de compasias diferentes son:  73

In [86]:
#Para ver cuales son 
for i in range(len(companias_unicas)):
    print(companias_unicas[i])

ATA Airlines
Air Canada
Air China
Air France
Air New Zealand
AirTran Airways
Alaska Airlines
All Nippon Airways
American Airlines
American Eagle Airlines
Asiana Airlines
Atlantic Southeast Airlines
BelAir Airlines
British Airways
Cathay Pacific
China Airlines
Delta Air Lines
EVA Airways
Frontier Airlines
Hawaiian Airlines
Horizon Air
Icelandair
Independence Air
Japan Airlines
KLM Royal Dutch Airlines
Korean Air Lines
Lufthansa German Airlines
Mesa Airlines
Mexicana Airlines
Midwest Airlines
Northwest Airlines
Philippine Airlines
Singapore Airlines
SkyWest Airlines
Sun Country Airlines
TACA
US Airways
United Airlines
United Airlines - Pre 07/01/2013
Virgin Atlantic
WestJet Airlines
Miami Air International
Air Canada Jazz
Qantas Airways
Ameriflight
Spirit Airlines
Xtra Airways
Evergreen International Airlines
Aeromexico
JetBlue Airways
ExpressJet Airlines
Southwest Airlines
Virgin America
Aer Lingus
Allegiant Air
Jet Airways
Emirates
Mesaba Airlines
World Airways
Air Berlin
Republic Airlines
Swiss International
LAN Peru
XL Airways France
China Eastern
SAS Airlines
Atlas Air, Inc
Compass Airlines
Etihad Airways
China Southern
Turkish Airlines
COPA Airlines, Inc.
Air India Limited

In [ ]:
#Observamos cuántos pasajeros tienen de media los vuelos de cada compañía